.head-cover {
    width: 100%;
    height: 5rem;
    background-color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 242, 63);
    font-size: 1.5rem;
    font-weight: bold;
}

.head-cover-footer {
    background-color: #202020;
    height: 8rem;
}

.input-fields-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    /* border: 1px solid black; */
}