.category-header {
  color: rgb(89, 194, 89);
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 700;
  padding-bottom: 0.5rem;
  padding-right: 0;
  width: fit-content;
  height: fit-content;
  margin: 0;
  margin-top: 0.8rem;
  /* border: 1px solid white; */
}

.category-link {
  display: block;
  color: rgb(163, 160, 160);
  margin: 0.5rem;
  padding-top: 1rem;
}

.category-link:hover {
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-out;
}

