* {
  box-sizing: border-box;
}

.instructions {
  display: flex;
  gap: 1rem;
}

.fore-ground {
  margin: 1rem auto;
  border: 1px solid rgb(205, 197, 197);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  box-shadow: 0px 7px 10px 3px rgb(232, 232, 232);
  width: 70%;
  height: auto;
}

.logs {
  width: 30%;
  height: auto;
  background-color: #525252;
  color: rgb(255, 255, 255);
  box-shadow: 0px 7px 10px 3px rgb(187, 186, 186);
  border: none;
  padding: 0.5rem;
}

p {
  font-size: inherit;
}

.logs > p {
  text-align: right;
}

.search-form {
  width: 100%;
  height: auto;
  margin: 0.5rem auto;
}

.search-field {
  width: 100%;
  height: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  outline: none;
}

.search-field.active {
  border: none;
}

.logs-color {
  color: greenyellow;
}
